{% extends 'base.html' %}

{% block title %} {{ redactor.username }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} blog-author bg-gray-100 {% endblock body_class %}

{% block content %}

  {% include "includes/navigation.html" %}

  <section class="py-sm-7 py-5 position-relative" style="background-color: palegoldenrod">
    <div class="container">
      <div class="row">
        <h1 style="text-align: center">Redactor detail</h1>
      </div>
      <form class="text-black-50" method="post">
        {% csrf_token %}
        <div class="d-flex text-muted pt-3 flex-column flex-lg-row">
          <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" src="{{ ASSETS_ROOT }}/assets/img/team-4.jpg">
          <div class="pb-3 mb-0 small lh-sm border-bottom">
            <p class="d-block text-gray-dark text-3xl"><b>Username:</b><i>{{ redactor.username }}</i></p>
            <p class="d-block text-gray-dark text-3xl"><b>Email: </b><i>{{ redactor.email }}</i></p>
            <p class="d-block text-gray-dark text-3xl"><b>First name: </b><i>{{ redactor.first_name }}</i></p>
            <p class="d-block text-gray-dark text-3xl"><b>Last name: </b><i>{{ redactor.last_name }}</i></p>
            <p class="d-block text-gray-dark text-3xl"><b>Years of experience: </b><i>{{ redactor.years_of_experience }}</i></p>
            {% for topic in newspaper.all %}
              <p class="d-block text-gray-dark text-3xl"><b>Topic newspaper: </b><i>{{ topic.name }}</i></p>
            {% endfor %}
            {% for newspaper in redactor.newspaper_set.all %}
              <p class="d-block text-gray-dark text-3xl"><b>Published newspaper: </b><i>{{ newspaper.title }}</i></p>
            {% endfor %}
          </div>
        </div>
      </form>
      <a class="btn btn-primary" href="{% url 'agency:redactor-experience-update' pk=redactor.id%}">Update</a>
      <a class="btn btn-danger" href="{% url 'agency:redactor-delete' pk=redactor.id%}">Delete</a>
    </div>
  </section>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}


