{% extends 'base.html' %}

{% block title %} Redactor list {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} blog-author bg-gray-100 {% endblock body_class %}

{% block content %}

  {% include "includes/navigation.html" %}

  <section class="py-sm-7 py-5 position-relative" style="background-color: palegoldenrod">
    <div class="container">
      <div class="row">

            <div class="col-lg-3 col-md-5 position-relative my-auto">
              <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" src="{{ ASSETS_ROOT }}/assets/img/down-arrow-dark.svg">
              <a href="{% url 'agency:redactor-create' %}" class="btn btn-primary">Create new redactor</a>
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">

              <h1 style="text-align: center">
                List of the redactors

              </h1>

              {% include 'includes/search_form.html' %}

              <table class="table-line">
                <tr class="table">
                  <th class="table-line">Username</th>
                  <th class="table-line">First name</th>
                  <th class="table-line">Last name</th>
                  <th class="table-line">Years of experience</th>
                  <th class="table-line">Published newspapers</th>
                </tr>

                {% for redactor in redactor_list %}
                  <tr class="table">
                    <td class="redactor-line"><a href="{% url 'agency:redactor-detail' pk=redactor.id%}">{{ redactor.username }}</a></td>
                    <td class="redactor-line">{{ redactor.first_name }}</td>
                    <td class="redactor-line">{{ redactor.last_name }}</td>
                    <td class="redactor-line">{{ redactor.years_of_experience }}</td>
                    <td class="redactor-line">{{ redactor.newspaper_set.count }}</td>
                  </tr>
                {% endfor %}


              </table>


            </div>
          </div>
        </div>
  </section>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
