{% extends 'base.html' %}

{% block content %}
  <h1>
    <strong>Username:</strong> {{ user.username }}
    <a href="{% url 'agency:redactor-delete' pk=redactor.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'agency:redactor-experience-update' pk=redactor.id %}" class="btn btn-success">Update</a>
  </h1>
  <p><strong>First name:</strong> {{ user.first_name }}</p>
  <p><strong>Last name:</strong> {{ user.last_name }}</p>
  <p><strong>Years of experience:</strong> {{ user.years_of_experience }}</p>
  <h2>Newspapers</h2>
  {% for redactor in redactor.newspaper_set.all %}
    <p>Topic name: {{ redactor.topic.name }}</p>
    {% empty %}
    <p>There are no newspapers!</p>
  {% endfor %}

{% endblock %}
