{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %} {{ object|yesno:"Update,Create" }} Topic {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} blog-author bg-gray-100 {% endblock body_class %}

{% block content %}

  {% include "includes/navigation.html" %}

  <section class="py-sm-7 py-5 position-relative" style="background-color: palegreen">
    <div class="container">
      <div class="row">
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <h1>{{ object|yesno:"Update,Create" }} Topic</h1>
              <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
  </section>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
